/* Theme Variables */
:root {
    --background-color-dark: #202020;
    --background-color-medium: #303030;
    --background-color-light: #404040;
    --background-color-dark-selected: #303030;
    --background-color-medium-selected: #404040;
    --background-color-light-selected: #505050;
    --background-color-dark-hover: #404040;
    --background-color-medium-hover: #505050;
    --background-color-light-hover: #606060;
    --border-color-dark: #252525;
    --border-color-medium: #353535;
    --border-color-light: #454545;
    --title-color: #dddddd;
    --text-color: #bbbbbb;
}

/* Basic HTML */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html {
    display: grid;
    height: 100%;
    overflow: auto hidden;
}
body {
    background: var(--background-color-dark);
    margin: 0px;
    display: grid;
    grid-template-columns: auto 6fr auto;
}
textarea, input {
    background-color: var(--background-color-dark);
    color: var(--text-color);
    border: none
}
i {
    color: var(--title-color);
    font-size: 25px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--background-color-medium);
}
::-webkit-scrollbar-thumb {
    background-color: var(--background-color-light-selected);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-corner, ::-webkit-resizer {
    display: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.flex-wrap-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;    
    align-items: center;
}

/* Box Shapes */
.shield-box {
    width: 94px;
    height: 100px;
    background: var(--background-color-medium);
    position: relative;
    margin-bottom: 10px;
}
.shield-box:before {
    content: "";
    width: 36px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 15px solid var(--background-color-medium);
    border-left: 29px solid var(--background-color-dark);
    border-right: 29px solid var(--background-color-dark);
}
.shield-box:after {
    content: "";
    width: 36px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid var(--background-color-medium);
    border-left: 29px solid var(--background-color-dark);
    border-right: 29px solid var(--background-color-dark);
}  
.shield-box > * {
    width: 90px;
    z-index: 10;
}
.shield-box label {
    padding: 10px 0px 2px 0px;
}
.shield-box input {
    text-align: center;
    width: 40px;
    margin: 2px;
    background: var(--background-color-medium-selected);
}

.labeled-single {
    background-color: var(--background-color-medium);
    display: flex;
    flex-flow: row;
    justify-content: stretch;
    align-items: center;
    min-width:180px;
    height: 45px;
    position: relative;
    margin-bottom: 10px;
}
.labeled-single:before {
    content: "";
    width: calc(100% - 20px);
    height: 0;
    position: absolute;
    top: calc(44px - 100%);
    left: 0;
    border-bottom: 10px solid var(--background-color-medium);
    border-left: 10px solid var(--background-color-dark);
    border-right: 10px solid var(--background-color-dark);
}
.labeled-single:after {
    content: "";
    width: calc(100% - 20px);
    height: 0;
    position: absolute;
    bottom: calc(44px - 100%);
    left: 0;
    border-top: 10px solid var(--background-color-medium);
    border-left: 10px solid var(--background-color-dark);
    border-right: 10px solid var(--background-color-dark);
}  
.labeled-single input {
    background: var(--background-color-medium-selected);
    font-size: 22px;
    text-align: center;
    margin-left: 10px;
    z-index: 10;   
    width: 30px; 
    padding: 0px;
}
.labeled-single label {
    text-align: center;
    flex-grow: 1;
    height: auto;
    z-index: 10;
    margin-top: -4px;
    padding: 2px;
}

.box, .box-corners, .box-corners-top, .box-corners-bottom {
    background-color: var(--background-color-medium);
    position: relative;
    padding: 11px;
    margin: 0px 0px 4px 0px;
}
.box > .title {
    margin-top: -6px;
    margin-bottom: 3px;
}
.box-corners:before, .box-corners-top:before {
    content: "";
    width: calc(100% - 20px);
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 10px solid var(--background-color-medium);
    border-left: 10px solid var(--background-color-dark);
    border-right: 10px solid var(--background-color-dark);
}
.box-corners:after, .box-corners-bottom:after {
    content: "";
    width: calc(100% - 20px);
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 10px solid var(--background-color-medium);
    border-left: 10px solid var(--background-color-dark);
    border-right: 10px solid var(--background-color-dark);
}  
/* Character Sheet */
.sheet {
    width: 100%;
    display: grid;
    grid-template-columns: .5fr 1.5fr 2fr 2fr;
    grid-template-rows: 1fr 6fr;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1800px;
    max-height: 100vh;
    overflow: auto;
}
.sheet .section {
    /* border: 1px solid var(--border-color-medium); */
    padding: 5px;
    color: var(--text-color);
}
.sheet .title {    
    color: var(--title-color);
}
.sheet input {    
    background: var(--background-color-medium-selected);
}
/* Section Header */
.sheet .section.header {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr 1fr;
}
.sheet .section.header input  {
    background-color: var(--background-color-medium);
    margin: 2px;
    font-size: calc(100vw / 70);
    width: calc(100% - 4px);
    padding: 0px 10px 2px 10px;
}
@media (min-width: 2000px) {    
    .sheet .section.header input  {
        font-size: 30px;
    }
}
.sheet .section.header label {
    margin: 2px;
    margin-top: -3px;
}
.sheet .section.attributes {
    grid-column: 1;    
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
.sheet .section.attributes .attribute {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
}
.sheet .section.attributes .attribute .attribute-value {
    font-size: 24px;
    padding: 0px 4px 0px 4px;
}
.sheet .section.attributes .attribute .attribute-mod {
    border-radius: 10px;
    font-size: 14px;
    padding: 0px 4px 0px 4px;
}
.sheet .section.skills {
    grid-column: 2;    
    display: flex;
    flex-flow: column;
    text-align: center;
}
.sheet .section.skills .skill-group .title {
    color: var(--title-color);
    grid-column: 1 / 4;
}
.sheet .section.skills .skill-group {
    background-color: var(--background-color-medium);
    padding: 2px;
    margin-bottom: 10px;
}
.sheet .section.skills .skill-group .skill {
    display: flex;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    align-items: center;
}
.sheet .section.skills .skill-group .skill:first-of-type {
    padding-top: 8px;
}
.sheet .section.skills .skill-group .skill:last-of-type {
    padding-bottom: 8px;
}
.sheet .section.skills .skill-group .skill label {
    text-align: left;
    padding-left: 10px;
}
.sheet .section.skills .skill-group input {
    min-width: 35px;
    width: 35px;
    max-height: 30px;
    text-align: center;
    font-size: 14px;
    background: var(--background-color-medium-selected);
}
.sheet .section.combat {
    grid-column: 3;   
}
.sheet .section.combat .stats {
    display: flex;
    flex-flow: column;
}
.sheet .section.combat .stats > *:not(:first-child) {
    background-color: var(--background-color-medium);
}
.sheet .section.combat .combat-stat {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    text-align: center;
}
.sheet .section.combat .combat-stat input {
    font-size: 22px;
}
.sheet .section.combat .combat-stat label {
    padding-bottom: 26px;
    padding-top: 2px;
}
.sheet .section.combat .stats .combat-hit-points {
    background-color: var(--background-color-medium);
    display: grid;
    grid-template-columns: 1fr 16px 1fr 1fr;
    text-align: center;
    padding: 10px 4px 10px 4px;
}
.sheet .section.combat .stats .combat-hit-points input {
    width: 45px;
    height: 45px;
    font-size: 22px;
    justify-self: center;
    margin: 1px;
    text-align: center;
}
.sheet .section.combat .stats .combat-death-saves label {
    text-align: right;
    margin-right: 3px;
}
.sheet .section.combat .stats .combat-death-saves > div {
    justify-content: flex-end;
}
.sheet .section.combat .stats .combat-death-saves  {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.sheet .section.combat .stats .combat-hit-dice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    width: 50%;
}
.sheet .section.combat .stats .combat-hit-dice input {
    width: 58px;
    height: 45px;
    font-size: 22px;
    text-align: center;
    margin: 1px;
}
.sheet .section.combat .stats .combat-hit-points span:first-of-type {
    font-size: 30px;
    text-align: center;
    width: 12px;
}
.sheet .section.combat .attacks {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 8px;
}
.sheet .section.combat .attacks > *:last-of-type {
    margin-bottom: 4px;
}
.sheet .section.combat .attacks > .content {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    width: 100%;
}
.sheet .section.combat .attacks > .content .attack {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 16px;
    grid-auto-flow: row;
    padding-top: 2px;
}
.sheet .section.combat .attacks > .content .attack i {
    font-size: 14px;
    padding: 4px;
    width: 14px;
    height: 14px;
}
.sheet .section.combat .attacks > .content .attack i:hover::before {
    background-color: var(--background-color-medium-hover);
    cursor: pointer;
}
.sheet .section.combat .attacks > .content input {
    width: calc(100% - 2px);
    font-size: 14px;
}
.sheet .section.combat .attacks > .content .add {
    background-color: var(--background-color-light);
    font-size: 16px;
    text-align: center;
    margin: 8px 0px 0px 0px;
    padding: 2px 0px 2px 0px;
    width: calc(100% - 1px);
}
.sheet .section.combat .attacks > .content .add:hover {
    background-color: var(--background-color-light-hover);
    cursor: pointer;
}

.sheet .section.combat .spell-slots {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.sheet .section.combat .spell-slots > .content {
    display: grid;
    grid-template-columns: repeat(2, 40px 50px 50px);
    grid-template-rows: repeat(5, auto);
    gap: 2px;
    grid-auto-flow: column;
    height: 130px;
    padding-top: 6px;
}
.sheet .section.combat .spell-slots > .content label {
    text-align: right;
    padding-right: 3px;
}
.sheet .section.combat .spell-slots > .content input {
    text-align: center;
    font-size: 16px;
}

.sheet .section.personality {
    grid-column: 4;   
    min-width: 90px;     
}
.sheet .section.personality > div {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    text-align: center;
}
.sheet .section.personality > div textarea {
    min-height: 100px;
    resize: none;
}

/* Sidebar */
.sidebar {
    background: var(--background-color-medium);
    min-width: 200px;
    max-width: 400px;
    transition: .1s;
    position: relative;
    display: flex;
    flex-flow: column;
    padding-top: 7px;
    color: var(--text-color);
    height: 100vh;
    width: 20vw;
}
.sidebar > i {
    padding: 5px;
    position: absolute;
    top: 0;
    background: var(--background-color-medium);
    line-height: 20px;
}
.sidebar-left > i {
    right: -31px;
}
.sidebar-right > i {
    left: -31px;
}
.sidebar i:hover {
    background-color: var(--background-color-light-hover);
    cursor: pointer;
}
.sidebar i:active {
    background-color: var(--background-color-light-selected);
    cursor: pointer;
}
.sidebar .item {
    background-color: var(--background-color-light);
    border: 2px solid var(--border-color-light);
    border-radius: 3px;
    margin: 2px;
    position: relative;
}
.sidebar .section > .title  {    
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 24px;
}
.sidebar .content {
    flex-grow: 1;
    height: 100%;
}
.sidebar.collapsed {
    width: 2px;
    min-width: 2px;
}
.sidebar.collapsed .title {
    display:none;
}
.sidebar.collapsed .content {
    display: none;
}

/* Sidebar Section */
.sidebar .section {
    display:flex;
    flex-flow: column;
}
.sidebar .section.selected {
    height: calc(100% - 121px);
}
.sidebar .section > .content {
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    background-color: var(--background-color-dark);
    flex-grow: 1;
    margin: 2px;
    overflow: hidden auto;
}
.sidebar .section > .title {
    border-bottom: 1px solid var(--background-color-medium);
    background-color: var(--background-color-medium-selected);
}
.sidebar .section .content > .title {
    text-align: center;
}
.sidebar .section.selected > .title {
    background-color: var(--background-color-medium);
}
.sidebar .section  > .title:hover {
    background-color: var(--background-color-light-hover);
    cursor: pointer;
}
.sidebar .section.selected > .content {
    border: 1px solid var(--border-color-medium);
}
.sidebar .section:not(.selected) > .content {
    display: none;
}
#notes {
    height: 100%;
    resize: none;
}
.sidebar .file-panel {
    display:flex;
    flex-flow: row;
    justify-items: left;
    padding: 3px 0px 3px 0px;
}
.sidebar .file-panel > i {
    padding: 3px 5px 3px 5px;
    font-size: 24px;
}

/* Characters */
.sidebar .character {
    position: relative;
    min-height: 50px;
}
.sidebar .character > i {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    display: none;
}
.sidebar .character:hover > i {
    display: inline-block;
    padding: 4px;
}
.sidebar .character > i:hover {
    background-color: var(--background-color-medium-hover);
}
.sidebar .character.selected {
    background-color: var(--background-color-light-selected);
    border: 2px solid var(--background-color-light-selected);
}
.sidebar .character:hover {
    background-color: var(--background-color-light-hover);
    border: 2px solid var(--background-color-light-hover);
    cursor: pointer;
}
.sidebar .character .info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    color: var(--text-color);
}
.sidebar .character .info > * {
    padding: 1px;
}
.sidebar .character .info .race {
    flex-grow: 1;
}

/* Sidebar/Section Item */
.sidebar .section .item {
    padding: 3px;
}
.sidebar .section .item .title {
    min-height: 21px;
}
.sidebar .section .item > i {
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 18px;
    width: 20px;
    text-align: center;
}
.edit-property {
    width: calc(100% - 1px);
    font-size: 16px;
    margin: 1px;
    padding: 3px;
}
textarea.edit-property {
    min-height: 180px;
    resize: none;
}
.sidebar-right .section .item.add {
    justify-self: stretch;
    text-align: center;
    padding: 3px;
}
.sidebar .section .item .edit-panel {
    text-align: right;
}
.sidebar .section .item .edit-panel > i {
    font-size: 16px;
    padding: 3px;
}
.sidebar .section .item.editing > .fa-angle-up,
.sidebar .section .item.editing .edit-panel .fa-edit {
    display: none;
}

/* Spells */
.sidebar .section.spells .content > .level {
    display: flex;
    flex-flow: column;
}
.sidebar .section .spell .school {
    text-align: center;
    font-style: italic;
}
.sidebar .section .spell:not(.editing) .level {
    display: none;
}
.sidebar .section .spell .info {    
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
}
.sidebar .section .spell .info *:nth-child(2n) {    
    text-align: right;
}
.sidebar .section .spell .info .time {
    grid-column: 2;
}
.sidebar .section .spell .info .description {
    grid-column: 1 / 3;
    padding-top: 2px;
}
.sidebar .section .spell.collapsed .description,
.sidebar .section .inv-item.collapsed .description,
.sidebar .section .proficiency.collapsed .description,
.sidebar .section .spell.collapsed .school,
.sidebar .section .item.collapsed .edit-panel
 {
    display: none;
}

/* Feats */
.sidebar .section.feats .item {
    display: flex;
    flex-flow: column;
}
.sidebar .section.feats .item.collapsed .description {
    display: none;
}

/* Background */
#backstory {
    height: 100%;
    resize: none;
}

/* Autocomplete */
.autocomplete {
    position: absolute;
    left: 4px;
    right: 4px;
    text-align: left;
    display: flex;
    flex-flow: column;
    background-color: var(--background-color-medium);
}
.autocomplete-item:hover {
    cursor: pointer;
    background-color: var(--background-color-medium-hover);
}
.autocomplete-item {
    padding: 2px;
}